.banner-card{
  position: relative;
}

.banner-body{
  position:absolute;
  color: white;
  bottom:0rem;
  margin: 2rem;
  height: 30%;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}

.movie-card{
  position: relative;
  width: 20vw;
  height: 20%;
  display:block ;
  margin: 1rem;
}
.card-title-movie{
  height: 2rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 0;
  color: aliceblue;
  margin-left: 0.2rem;
}
.btn-wrapper{
  position: absolute;
  bottom: 0;
}


.card-text{
  height: 40%;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}
.movie-area{
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.movie-area>img{
  height: 100%;
  width: 100%;
  padding: 20vh;
}

.movie-btn{
  height: 20%;
  width: 80%;
  margin: 1rem auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.movie-heading{
  display: block;
  font-size: 1.5rem;
  width: 100vw;
  margin: 0 50%;
}

.fav-genre{
  padding: 3rem;
}

.fav-table{
  padding: 2rem;
}